/* .card{
    width: 20rem;
    height: 25rem;
} */

#district > img,p{
    width: 20rem;
    height: 10rem;
}
#district > h5{
    text-decoration: none;
}

.card-img-top{
    width: 300px;
    height: 150px;
}

/* #district{
    display: flex;
}  */

/* .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } */
