/* .card{
    width: 20rem;
    height: 25rem;
} */

#district > img,p{
    width: 20rem;
    height: 10rem;
}
#district > h5{
    text-decoration: none;
}

.card-img-top{
    width: 300px;
    height: 150px;
}

/* #district{
    display: flex;
}  */
